.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 2rem;

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        button {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em 1em;
            margin-top: 1rem;
            border-radius: 1rem;
            gap: 0.25rem;
        }
        .submitButton {
            background-color: var(--color-3);

            * {
                color: var(--color-1) !important;
            }
        }

        .registerButton {
            border: 2px solid var(--color-3);
            color: white;
        }
    }

    .background {
        position: fixed;
        z-index: -1;
        top: 0;
        // filter: blur(10px);
        opacity: 0.2;
    }
}
