.formGroup {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.33rem;
    color: white;
    * {
        color: white;
    }
    input {
        all: unset;
        border: 1px solid rgba(255, 255, 255, 0.459);
        border-radius: 4px;
        padding: 0.33em;
    }
    p {
        font-size: 1rem;
        font-weight: bold;
    }
}
