
.header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding:0 4em;
    .left {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
            width: 10rem;
            border-radius: 0 0 2rem 2rem;
        }
        h1 {
            font-size: 2rem;
        }
    }
    .nav {
        font-size: 1rem;
        display: flex;
        gap: 1rem;
        text-transform: capitalize;
        align-items: center;
        .link {
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.25rem;
            font-size: 1rem;
        }
    }
}